# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Example:
# NEXT_PUBLIC_METABASE_URL_DISTRIBUTION="https://metabase.constellations.zone/api/public/card/dfedf8e8-fd13-4cfb-9d87-e6a13ab45a7f/query/json"
# NEXT_PUBLIC_METABASE_URL_BURN="https://metabase.constellations.zone/api/public/card/3f4acb97-796f-40ae-af2c-d3163d09667a/query/json"
# NEXT_PUBLIC_COIN_GECKO_URL="https://api.coingecko.com/api/v3/coins/stargaze?localization=false&market_data=true"

